# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment Variables
.env
.env.local
*.local

# Logs and Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# External Tools Configuration
documentation/.obsidian/

# Dependencies
node_modules/
.pnpm-store/

# Production Build Output
dist/
build/

# Rust / Cargo / Tauri
target/
src-tauri/target/

# IDE & Editor caches
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage and Test Output
coverage/
*.lcov
